.public-header {
  width: 100%;
  background-color: #dff1e7;
  padding: 15px 40px;
  display: flex;
  justify-content: center;
}

.ph-inner {
  width: 100%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ph-logo-box {
  width: 45px;
  height: 45px;
  background-color: #0b5f3c;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ph-logo {
  width: 38px;
  height: 38px;
}

.ph-title {
  margin-left: 10px;
  font-size: 26px;
  font-weight: 600;
  color: #0b5f3c;
  text-decoration: none;
  flex-grow: 1;
}

.ph-links {
  display: flex;
  gap: 12px;
}

.ph-btn {
  padding: 7px 14px;
  background-color: #008043;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
}

.ph-btn.secondary {
  background-color: transparent;
  color: #008043;
  border: 1px solid #008043;
}
